* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  background-color: black;
  margin: 0;
}

input {
  color: black;
}

.main_form {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 0.5% 5%;
  margin: 0.5%;
  border-radius: 999px;
  text-align: center;
  color: black;
  border: none;
}

#submit_btn {
  padding: 10px 50px;
  background-color: #00bbff;
  border: 2px solid #00bbff;
  font-weight: bold;
  font-size: 0.8em;
  border-radius: 999px;
}

#submit_btn:hover {
  background-color: #5ed4ff;
  cursor: pointer;
}

td,
th {
  padding: 20px;
  background-color: rgb(39, 39, 39);
  text-align: center;
  border: 1px solid white;
}

th {
  background-color: #535353;
}

table {
  border: 1px solid white;
  border-collapse: collapse;
  margin-top: 7%;
}
.process_table_div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.process_table {
  margin: 2%;
}

.info {
  width: 900px;
  text-align: justify;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 30px;
}
h2 {
  margin-top: 30px;
}

form {
  text-align: center;
}

label {
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
}
